{% extends 'home/basic.html' %} {% load static %} {% block title %} Quotation {%endblock title%}
{%block css %} {%endblock css %} {% block body %}

<div id="content-wrapper" class="d-flex flex-column">
 <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
      <!-- Sidebar Toggle (Topbar) -->
      <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
      </button>
    </nav>
  <div class='container p-3'>
   <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Update Hotel</h1>
     </div>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Update Hotel</button>
  </form>
        </div>
</div>
{%endblock body%}
<!-- 
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
      <div class ="addHotel"> 
        <h2> Add Hotel details </h2>
        <form class="site-form" action ="{% url 'quotation:addHotel'}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{form.as_p}}
          <input type="submit" value="Add Hotel">
        </form>
      </div>
</html> -->
