{% extends './basic.html' %} {% load static %} {% block title %} Quotation {%endblock title%}
{%block css %} {%endblock css %} {% block body %}

<!-- Page Wrapper -->
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
      <!-- Sidebar Toggle (Topbar) -->
      <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
      </button>
    </nav>

<div class='container p-3'>
     <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Add Company</h1>
     </div>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Add Company</button>
    </form>


</div>
</div>

{%endblock body%}
